*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5145ba;
}

:where(.config-container, .quiz-container){
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);

}

/* The Configuration container */

.config-container{
    display: none;
    width: 415px;
    padding: 25px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}
.config-container .config-title{
    font-size: 1.31rem;
}
.config-container .config-option{
    margin-top: 25px;
}

.config-option .option-title{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}
.config-option .category-options{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.config-option .question-options{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}

.config-option button{
    padding: 12px;
    font-size: .938;
    font-weight: 500;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #9b8fff;
}
.config-option button.active{
    color: #5145ba;
    border-color: #5145ba;
    background: #dfdafd;
}

.config-option button:hover, 
.quiz-content .answer-option:hover{
    background: #dad5fd;
}


.question-options button{
    flex-direction: 1 1 10%;
}
.config-container .start-quiz-btn, 
.quiz-footer .next-question-btn {
    color: #fff;
    border: none;
    cursor: pointer;    
    font-weight: 500;
    background: #5145ba;
    padding: 13px 25px;
    font-size: 1rem;
    border-radius: 6px;
    transition: background 0.3s ease;
}
.config-container .start-quiz-btn{
    margin-top: 30px;
}

.config-container .start-quiz-btn:hover, 
.quiz-footer .next-question-btn:hover {
    background: #403795;
}

.quiz-container{
    width: 480px;
}

.quiz-container .quiz-header {
    display: flex;
    align-items: center;
    padding: 14px 25px;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}

.quiz-header .quiz-title {
    font-size: 1.43rem;
    font-weight: 700;
}
.quiz-header .quiz-timer {
    display: flex;
    width: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;
    font-weight: 600;
    padding: 7px 9px;
    border-radius: 6px;
    background: #32313c;
}
.quiz-header .quiz-timer span{
    font-size: 1.4rem;
}

.quiz-container .quiz-content {
    padding: 20px 25px 25px;
}

.quiz-content .question-text {
    font-size: 1.5rem;
    font-weight: 600;
    
}
.quiz-content .answer-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-top: 20px;
}
.quiz-content .answer-option {
    padding: 13px 16px;
    background: #f3f1ff;
    border-radius: 6px;
    font-weight: 500;
    cursor:pointer;
    border: 1px solid #b5acff;
    transition: 0.3s ease;
}

.quiz-container .quiz-footer {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #c6c6c6;
}
.quiz-footer .question-status {
    font-weight: 600;
}

.quiz-footer .question-status b {
    font-weight: 600;
}

.quiz-footer .next-question-btn{
    display: inline-flex;
    gap: 5px;
    align-items: center;
    padding: 9px 17px;
}

 